
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
sudoku.exe
.idea/.idea.sudoku-assignment-Long2511.dir/.idea/encodings.xml
.idea/.idea.sudoku-assignment-Long2511.dir/.idea/indexLayout.xml
.idea/.idea.sudoku-assignment-Long2511.dir/.idea/vcs.xml
Folder.DotSettings.user
sudoku.ilk
sudoku.obj
sudoku.pdb
vc140.pdb
